<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.mgorbach.MacFusion.SSHFS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FSLongType</key>
	<string>Secure Shell</string>
	<key>FSType</key>
	<string>SSHFS</string>
	<key>NSMainNibFile</key>
	<string>SSHFS.nib</string>
	<key>NSPrincipalClass</key>
	<string>SSHFS</string>
	<key>UIClassName</key>
	<string>SSHFSUIController</string>
</dict>
</plist>
